table{
	width:80%;
	border:1px solid black;
	border-collapse:collapse;
}
td, th{
 border:1px solid black;
}
td{
	text-align:right;
}
td:nth-child(1){
	text-align:left;
}
th{
	text-align:left;
}
/* Your CSS Code here. */